<Bar Background="Background.Primary" ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarItem>
            <BarLink To="/">
                <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Home" Class="me-2" /> Control de Gastos
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarToggler BarTogglerMode="BarTogglerMode.Left" />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/home">
                <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Home" Class="me-2" /> Inicio
            </BarLink></BarItem>
            <BarDropdown Text="Mantenimientos">
                <BarDropdownItem To="/tipos-gasto">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Tags" Class="me-2" /> Tipos de Gasto
                </BarDropdownItem>
                <BarDropdownItem To="/fondos-monetarios">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Wallet" Class="me-2" /> Fondos Monetarios
                </BarDropdownItem>
            </BarDropdown>
            <BarDropdown Text="Movimientos">
                <BarDropdownItem To="/presupuestos">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Coins" Class="me-2" /> Presupuesto por tipo de gasto
                </BarDropdownItem>
                <BarDropdownItem To="/gastos">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Receipt" Class="me-2" /> Registros de gastos
                </BarDropdownItem>
                <BarDropdownItem To="/depositos">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.PiggyBank" Class="me-2" /> Depósitos
                </BarDropdownItem>
            </BarDropdown>
            <BarDropdown Text="Consultas y Reportes">
                <BarDropdownItem To="/movimientos">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Search" Class="me-2" /> Consulta de movimientos
                </BarDropdownItem>
                <BarDropdownItem To="/graficos">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.ChartPie" Class="me-2" /> Gráfico Comparativo
                </BarDropdownItem>
            </BarDropdown>
        </BarStart>
        <BarEnd>
            <BarItem>
                <BarLink To="/">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.User" Class="me-2" /> Iniciar Sesión
                </BarLink>
            </BarItem>
            <BarItem>
                <Button Color="Color.Danger" Clicked="Logout">Cerrar Sesión</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
    [Inject] NavigationManager NavigationManager { get; set; } = default!;
    
    void Logout()
    {
        // Aquí puedes limpiar localStorage/sessionStorage si implementas JWT
        NavigationManager.NavigateTo("/login", true);
    }
}


