@page "/home"


<PageTitle>Control de Gastos</PageTitle>

<div class="container mt-4">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="mb-2">Bienvenido a tu Control de Gastos</h2>
            <p class="lead">Gestiona tus ingresos y egresos de manera eficiente y visualiza tu salud financiera.</p>
            <a class="btn btn-primary btn-lg me-2" href="/movimientos">
                <i class="fa fa-search me-2"></i> Ver Movimientos
            </a>
            <a class="btn btn-info btn-lg" href="/graficos">
                <i class="fa fa-chart-bar me-2"></i> Ver Gráficos
            </a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <i class="fa fa-tools me-2"></i>
                    <span class="h4">Mantenimientos</span>
                </div>
                <div class="card-body">
                    <p>Administra tipos de gasto y fondos monetarios.</p>
                    <a class="btn btn-secondary me-2" href="/tipos-gasto">
                        <i class="fa fa-tags me-2"></i> Tipos de Gasto
                    </a>
                    <a class="btn btn-secondary" href="/fondos-monetarios">
                        <i class="fa fa-wallet me-2"></i> Fondos Monetarios
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <i class="fa fa-receipt me-2"></i>
                    <span class="h4">Movimientos</span>
                </div>
                <div class="card-body">
                    <p>Registra gastos y depósitos.</p>
                    <a class="btn btn-success me-2" href="/gastos">
                        <i class="fa fa-receipt me-2"></i> Gastos
                    </a>
                    <a class="btn btn-success" href="/depositos">
                        <i class="fa fa-piggy-bank me-2"></i> Depósitos
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <i class="fa fa-chart-pie me-2"></i>
                    <span class="h4">Reportes</span>
                </div>
                <div class="card-body">
                    <p>Consulta movimientos y gráficos comparativos.</p>
                    <a class="btn btn-warning me-2" href="/movimientos">
                        <i class="fa fa-search me-2"></i> Movimientos
                    </a>
                    <a class="btn btn-warning" href="/graficos">
                        <i class="fa fa-chart-bar me-2"></i> Gráficos
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>